<% provide(:title, (t ".about_title"))%>
<div class="kenh14-border" id="blog-title" >
<h1><%=(t ".about_title")%></h1>
</div>
<div id="banner"><%= link_to image_tag("about.jpg", size: "600x300", alt: (t ".alt_image"))%></div>
<p><strong><%=(t ".store_name")%></strong> <%=t ".about_content"%> </p>
