<% provide(:title, (t ".blog_title"))%>
<div class="kenh14-border" id="blog-title" >
  <h1><%=(t ".blog_name")%></h1>
</div>
<div class="post">
  <h2 class="title"><a href="#">Welcome to Classifieds </a></h2>
    <p class="meta"><span class="date">May 15, 2012</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
      <div style="clear: both;">&nbsp;</div>
        <div class="entry">
          <p>This is <strong>Classifieds </strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.  The photo used in this template is from   <a href="http://fotogrph.com/">Fotogrph</a>.  This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)</p>
          <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.</p>
          <p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
        </div>
 </div>

<div class="post">
  <h2 class="title"><a href="#">Welcome to Classifieds </a></h2>
    <p class="meta"><span class="date">May 15, 2012</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
      <div style="clear: both;">&nbsp;</div>
        <div class="entry">
          <p>This is <strong>Classifieds </strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.  The photo used in this template is from   <a href="http://fotogrph.com/">Fotogrph</a>.  This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)</p>
          <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.</p>
          <p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
        </div>
 </div>

<div class="post">
  <h2 class="title"><a href="#">Welcome to Classifieds </a></h2>
    <p class="meta"><span class="date">May 15, 2012</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
      <div style="clear: both;">&nbsp;</div>
        <div class="entry">
          <p>This is <strong>Classifieds </strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.  The photo used in this template is from   <a href="http://fotogrph.com/">Fotogrph</a>.  This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)</p>
          <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.</p>
          <p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
        </div>
 </div>
