<% provide(:title, (t ".contact_title"))%>
<div class="kenh14-border" id="blog-title" >
  <h1><%=(t ".contact_title")%></h1>
</div>
<h2><%= t".location" %></h2>
  <div class="gmap">
    <div id="map" class="gmap-content"></div>
  </div>
