<div class="col-sm-3 aside">
  <div class="widget">
    <div class="widget-body">
      <div class="beta-sales beta-lists">
        <%= social_share_button_tag object %>
     </div>
   </div>
 </div>
</div>
