<%= form_for(current_user.likes_for_book.find_by(book_id: @book.id), html: { method: :delete }, remote: true) do |f| %>
    <%= f.submit "Unlike", class: "btn" %>
    <button id="btn-user-like" type="button" class="btn btn-default" ><%= @book.users_liked.count.to_s << (t ".liked") %></button>
<% end %>
