<%= form_for(current_user.likes_for_recipent(@recipent).find_by(recipent_id: @recipent.id, recipent_type: @recipent.class.to_s), html: { method: :delete }, remote: true) do |f| %>
    <%= f.submit "Unlike", class: "btn" %>
    <button id="btn-user-like" type="button" class="btn btn-default" ><%= @recipent.users_liked.count.to_s << (t ".liked") %></button>
<% end %>
