$gray: #555;
$gray-23: #3B3B3B;
$paci: #0285CE;
$black: #000000;
$night-rider: #323030;
$bleach: #F5F0E7;
$pale-oyster: #D7D0C0;
$charcoal: #454545;
$white: #FFFFFF;
$whisper: #EDEDED;
$gains-boro: #D8D8D8;
$nobel: #A0A0A0;
$suva: #8A8A8A;
$cam14: #ff5e34;
$fruit-salad: #4CAF50;
$gray-20: #333;
$gray-80: #ccc;
$gray-97: #f7f7f7;
$gray-86: #ddd;
$pink-price: #ff0072;
$gray-87: #000087;
$gray-a6: #0000a6;
$purple:#32213A;
$green:#00A896;
