@import 'color';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
body {
  margin: 0;
  padding: 0;
  background: $white;
  font-family: Arial, Helvetica, sans-serif;
  color: $gray-23;
  padding-top: 60px;
}

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
  letter-spacing: -2px;
  font-family: 'Arvo', serif;
  font-weight: normal;
  color: $black;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.6em;
}

p, ul, ol {
  margin-top: 0;
  line-height: 180%;
}

ul, ol {
}

a {
  text-decoration: none;
  color: $paci;
  &:hover {
}
}

/* Header */

#header-wrapper {
 padding-left: 64px;
 width: 372px;
}

#header {
  clear: both;
  width: 1000px;
  margin: 0px auto;
}

/* Logo */

#logo {
  margin: 7px 20px -34px 0px;
  padding: 28px 2px;
  color: $black;
  h1,p {
  margin: 0;
  padding: 0;
  }
  h1 {
  margin: 0px;
  padding: 0px;
  font-size: 3.8em;
  color: $night-rider;
  }
  h1 span {
  color: $paci;
  }
  h2{
  font-size: 40px;
  }
  p {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  font-family: 'Arvo', serif;
  color: $gray-23;
  }
  p a {
  color: $gray-23;
  }
  a {
  border: none;
  background: none;
  text-decoration: none;
  color: $night-rider;
  }
}

/* Blog */
#blog-title{
  h1,p {
  margin: 0;
  padding: 0;
  }
  h1 {
  margin: 0px;
  padding: 0px;
  font-size: 45px;
  color: $night-rider;
  span{
  color: $paci;
   }
  }
}
.kenh14-border{
    padding-bottom: 0px;
    border-bottom: 10px solid $cam14;
    }

/* Search */

#search {
  width: 320px;
  height: 60px;
  padding: 46px;
#blog {
  margin: 0px;
  padding: 30px 0px;
  color: $black;
  h1,p {
  margin: 0;
  padding: 0;
  }
  h1 {
  margin: 0px;
  padding: 0px;
  font-size: 3.8em;
  color: $night-rider;
   span{
   color: $paci;
   }
  }
  p {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  font-family: 'Arvo', serif;
  color: $gray-23;
   a{
  color: $gray-23;
   }
  }
  a {
  border: none;
  background: none;
  text-decoration: none;
  color: $night-rider;
  }
}

  form {
  margin: 0px;
  padding: 0px;
  }

  fieldset {
  margin: 0;
  padding: 0;
  border: none;
  }
}

#search-text {
  width: 250px;
  outline: none;
  background: $bleach;
  border: 1px solid $pale-oyster;
  padding: 10px;
  text-transform: lowercase;
  font: normal 14px Arial, Helvetica, sans-serif;
  color: $charcoal;
}

#search-submit {
  width: 62px;
  height: 22px;
  display: none;
  border: none;
  color: $white;
}

/* Menu */

#menu-wrapper {
  overflow: hidden;
  height: 56px;
  background: $whisper;
}

#menu {
  width: 1000px;
  height: 55px;
  margin: 0px auto;
  padding: 0px;

  ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  line-height: normal;
  }

  li {
  float: left;
  border-right: 1px solid $white;
  }

  .right_button{
  float: right;
  border-right: 1px solid $white;
  }

  a {
  display: block;
  letter-spacing: 1px;
  line-height: 55px;
  padding: 0px 30px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Arvo', serif;
  font-size: 14px;
  font-weight: normal;
  color: $gray-23;
  border: none;
  }

  a:hover, .current_page_item a {
  background: $black;
  text-decoration: none;
  color: $white;
  }
}

/* Page */

#page {
  overflow: hidden;
  width: 1000px;
  margin: 0px auto;
  padding: 30px 0px;
  background-color: $white;
}

/* Content */

#content {
  float: left;
  width: 1000px;
}

.post {
  margin-bottom: 15px;
  border-bottom: 1px dashed $gains-boro;
  padding: 10px;

  .title {
  height: 25px;
  margin-bottom: 10px;
  padding: 40px 0 0 0px;
  font-size: 30px;
  a {
  border: none;
  color: $black;
  }
  }

  .meta {
  margin-bottom: 30px;
  padding: 5px 0px 15px 0px;
  text-align: left;
  font-weight: normal;
  .date {
  padding: 15px 0px;
  float: left;
  }
  .posted {
  padding: 15px 0px;
  float: right;
  }
  a{}
  }

  .entry {
  padding: 10px 0px 20px 0px;
  padding-bottom: 20px;
  text-align: justify;
  }
  .h-25 {
  height: 25% !important;
  }
}

.post-bgtop {
}

.post-bgbtm {
}

.links {
  height: 30px;
  padding: 20px 0px 0px 0px;
  font-size: 18px;
  text-decoration: underline;
  font-weight: normal;
  color: #1C1C1C;
}

/* Sidebar */

#sidebar {
  float: left;
  width: 310px;
  margin: 24px 0px 0px 0px;
  padding: 30px 0px 0px 60px;
  color: $black;

  ul {
  margin: 0;
  padding: 0;
  list-style: none;
  }

  li {
  margin: 0;
  padding: 0;
  list-style: none;
   ul {
   margin: 0px 0px;
   padding-bottom: 50px;
   }
   li {
  border-bottom: 1px dashed $gains-boro;
  margin: 0px 0px;
  padding: 5px 0px;
  border-left: none;
    a {
    color: $gray-23;
    }

    span {
    display: block;
    padding: 0;
    font-size: 11px;
    font-style: italic;
    }
   }
  }

  h2 {
  padding-bottom: 20px;
  font-size: 1.8em;
  color: $black;
  }

  p {
  margin: 0px 0px 40px 0px;
  padding: 0px;
  text-align: justify;
  }

  a {
  border: none;
  &:hover {
   text-decoration: underline;
  }
  }
}

/* Calendar */

#calendar {
  table {
  width: 100%;
  }

  tbody td {
  text-align: center;
  }

  #next {
  text-align: right;
  }
}

#calendar_wrap {
  padding: 20px;
}

/* Footer */

#footer {
  overflow: hidden;
  height: 76px;
  margin: 0 auto;
  padding: 0px 0 15px 0;
  background: #E9E9E9;
  border-top: 5px solid $gains-boro;
  font-family: 'Arvo', serif;

  p {
  margin: 0;
  padding-top: 30px;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #A0A0A0;
  }

  a {
  color: $suva;
  }
}

#banner {
  width: 1000px;
  margin: 0px auto;
}

/* Paginate */
.pagination {
    font-size: 18px;
    float: right;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
    background: $cam14 none repeat scroll 0 0;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: $cam14 none repeat scroll 0 0;
    color: white;
}

.pagination .disabled {
    color: #C0C0C0;
}

/* Blog post's */
element.style {
  text-align: justify;
}
.content .nd-ct p {
  margin-top: 20px;
}
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, a, th {
  border: 0 none;
  margin: 0;
  outline: medium none;
  padding: 0;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.content .nd-ct {
  border-top: 1px solid $gray;
  clear: both;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
  color: $gray;
  font-size: 13px;
  line-height: 20px;
}
body {
  background: $white;
  min-width: 1168px;
  font-family: Arial, Sans-Serif;
  font-size: 15px;
  margin: 0;
}

/* Paginate */
.pagination {
    font-size: 18px;
    float: right;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
    background: $cam14 none repeat scroll 0 0;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: $cam14 none repeat scroll 0 0;
    color: white;
}

.pagination .disabled {
    color: #C0C0C0;
}

/* Blog post's */
element.style {
  text-align: justify;
}
.content .nd-ct p {
  margin-top: 20px;
}
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, a, th {
  border: 0 none;
  margin: 0;
  outline: medium none;
  padding: 0;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.content .nd-ct {
  border-top: 1px solid $gray-80;
  clear: both;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
  color: $gray-20;
  font-size: 13px;
  line-height: 20px;
}
body {
  background: $white;
  min-width: 1168px;
  font-family: Arial, Sans-Serif;
  font-size: 15px;
  margin: 0;
}

/*Books*/

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 992px) {
.col-lg-4 {
  -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 16%;
  }
  .col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
}
.col-lg-4{
  position: relative;
  width: 16%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.card-book {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.show-book {
  width: 220px ;
  margin-bottom: 141px;
}

.h-100 {
  height: 100% !important;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  h5 {
  font-size: 12px
  }
}
.card-title {
  margin-bottom: 0.75rem;
  a {
  font-size: 13px;
  }
}
.card-text:last-child {
  margin-bottom: 0;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  button{

  }
}
.text-muted {
  color: #6c757d !important;
}
button:hover {
    background-color: $paci ;
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Book product */

.book-image{
  position: static!important;
  width: 100%;
  min-width: 391px;
}

.book-field{
  width: 711px;
  padding: 0 24px;
}

/* universal */

body {
  padding-top: 0px;
}

.ls-books {
  border: 1px solid #e7e7e7;
  .title_table {
    background-color: #B8E6FF;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
  }
  table {
    align: center;
    tr {
      th, td {
        padding: 10px;
      }
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.logsign{
  text-align: center;
  padding: 10px;
  font-size: 36px;
}


/* profile */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 32px;
    text-align: center;
  a {
    padding: 0 10px;
    color: white;
    font-size: 18px;
  }
}

button {
}

.button-update{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #f5f0f0;
    background-color: #171616;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 19px;
    font-style: italic;
}

.profile-name{
  margin-top: 12px;
  color: $gray-a6;
}

/* Delete button */

#delete-button{
  a {
  color: white;
  }
}

#favorite-button{
  a {
  color: white;
  }
  margin: 59px 0px 0px 24px;
}

/* List users */
.none-bullet {
  list-style-type: none;
}

#book-card-wrap{
  border:0px solid gray;
  .section{
  padding-bottom:20px;
  }
  h4 {
  color:red;
  }
  span{
  margin-right:20px;
  }
  p {
  text-align: justify;
  width: 477px;
  }
}

#inside-post{
  div{
  clear: both;
  }
}

#dropdown-button{
  margin: 59px 0px 0px 0px;
  li {
  text-align: center;
  font-size: 15px;
  }
}

#total {
  h4{
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-decoration: underline;
  color: $pink-price;
  text-align: right;
  }
}

#form-order{
  p{
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 17px;
  margin: 0px 0px 0px 21px;
  }
}

.required{
  color: red;
  text-decoration: underline;
}

.price{
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-decoration: underline;
  color: $pink-price;
  text-align: justify;
}

.check-box-style {
  width: 70%;
  float: left;
}

.check-box-style {
  width: 70%;
  float: left;
}

.check-box-style {
  width: 70%;
  float: left;
}

.check-box-style {
  width: 70%;
  float: left;
}

.check-box-style {
  width: 70%;
  float: left;
}

.form-label {
  margin: 10px 0 5px 0;
  font-size: 15px;
  color: $black
}

.remember-checkbox {
  margin: 10px 0 10px 0;
  font-size: 15px;
  color: $gray-87;
}

.checkbox span {
  margin-left: 0;
  font-weight: normal;
}

.datetime select:nth-child(1) {
  width: 130px;
  text-indent: 15px;
}

#btn-user-like{
  font-size: 12px;
}

.htCarousel{
  width: 1049px;
  padding-left: 87px;
  margin: 2px 0px 0px 243px;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-success {
  border-color: #28a745 !important;
}

.cart i{
  font-size: 20px;
}
.badge{
  top: -6px !important;
  margin: -8px !important;
  color: white !important;
  background-color: red !important;
}

.modal-tit{
  font-weight: bold;
  font-size: 20px;
  font-family: Avro;
  color: $paci;
}

.order-details{
  color: red;
}

.gmap{
  width: 800px;
}

.gmap-content{
  width: 800px;
  height: 400px;
}
