<% provide(:title, (t ".title"))%>
<div class="kenh14-border" id="blog-title" >
<h1><%=(t ".favorite_books")%></h1>
</div>
<div class="row">
<%= render @books %>
</div>
<%= paginate @books, theme: "twitter-bootstrap-3" %>
